<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Página de inicio</title>
</head>

<body>
	<h1>pagina de pruebas</h1>

	<div id="unawea"></div>

	<table id="contenido">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
			</tr>
		</thead>

		<tbody id="body">
		
		</tbody>
	</table>

	<div id="formulario">
		
			<input type="text" id="ID_USUARIO" />
			<input type="text" id="NOMBRE_USUARIO" />
			<input type="password" id="contra" />
		<br>
			<button id="enviar_reg">Enviar</button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="index.js"></script>
</body>

</html>